<form method="post" action="/Home/SubmitForm">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name">
    <label for="vorname">Vorname:</label>
    <input type="text" id="vorname" name="vorname">
    <label for="adresse">Adresse:</label>
    <input type="text" id="adresse" name="adresse">
    <button type="submit">Absenden</button>
</form>